In [ ]:
import pandas as pd

ass_text = pd.read_csv("Assembler.txt")

In [ ]:
ass_text

   LC Mnemonic Extra
0   1        A  DS 1
1   2        B  DS 1
2   3        C  DS 1
3   4      INP     A
4   5      INP     B
5   6      ADD     B
6   7      STO     C
7   8      OUT     C
8   9      HLT   NaN

In [ ]:
optab = pd.read_csv('Optab.txt')

In [ ]:
optab

  Mnemonic  Opcode
0      ADD       1
1      INP       2
2      STO       3
3      OUT       4
4      HLT       5

In [ ]:
# Create an empty dataframe
Machine_code = pd.DataFrame(columns=['Machine_code'])

# machine code

* 0
* 0
* 0
* 2004
* 2005
* 1006
* 3007
* 4008
* 5000

In [ ]:
lst = optab.iloc[:, 0].tolist()

a = 0
for i in ass_text.iloc[:, 1]:
  if i == 'HLT':
      Machine_code = Machine_code.append({'Machine_code': 5000}, ignore_index=True)
      break
  elif i in lst:
    val = str(optab.loc[optab['Mnemonic'] == i,'Opcode'].values[0]) + '00' + str(ass_text.iloc[a, 0])
    Machine_code = Machine_code.append({'Machine_code': val}, ignore_index=True)
    a+=1
  else:
    Machine_code = Machine_code.append({'Machine_code': 0}, ignore_index=True)
    a+=1

In [ ]:
Machine_code

  Machine_code
0            0
1            0
2            0
3         2004
4         2005
5         1006
6         3007
7         4008
8         5000